// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-gaps {
  margin-left: 2%;
}

.new-record .form-group {
  margin-left: 0.3%;
}

.amount-header, .amount-content {
  display: block;
}

.sorts-icons {
  display: inline-block;
  margin-left: 2%;

  .glyphicon {
    display: block;
  }
}

.sorts-label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 2.6em;
}

.actions {
    height: 2.6em;
}

.records-table thead {
  
}
